* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1e1d1d;
  box-sizing: content-box;
  color: #bea86c;
  
}

header {
  width: 100%;
  background-color:#151618 ;
  margin:auto;
}
.iconos-header {
  color: #bea86c;
  width: 95vw;
}

main{
  padding: 10px 10px 10px 10px;
}
div.solo-iconos {
  display: flex;
}
a.links-header {
  color: #bea86c;
  text-decoration: none;
}

div.top-header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 3%;
  width: 95vw;
}


div.iconos-header2 i{
  margin-top: 5px;
  margin-bottom: 5px;
}
nav div.iconos-header {
  padding: 2px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  margin-bottom: 1%;
  margin-right: 10px;
  margin-top: 10px;

}


div.iconos-header2 {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 3%;
  width: 20vw;
  flex-direction: column;
}

div.logo-principal {
  display: flex;
  justify-content: center;
  width: 50vw;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

div.barra-lupa {
  display: flex;
  margin-top: 20px;
}

a.iconos-header {
  color: #bea86c;
  text-decoration: none;
  padding-right: 30px;
}

p.nombres-header {
  font-size: 12px;
  padding-right: 10px;
}

.caja-page-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-logo {
  width: 50vw;
  margin: 20px 20px 20px 20px;
}

.page-forms {
  width: 60%;
  border: solid;
  border-color: white;
  border-width: 1px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle-page {
  font-size: 20px;
  margin-bottom: 15px;
}

.div-forms {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.div-forms-imagen {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  

}

.boton-editar{
padding: .3%;
font-size: 150%;
border: grey solid 1px ;
background-color: #ebebeb;
color: black;
border-radius: 5%;
width: 20%;
}


.div-forms-principal {
  width: 80%;
  margin-bottom: 5px;
}

.label-forms {
  font-size: 10px;
  margin-bottom: 3px;
}
.input-forms-imagen {
  margin-bottom: 3px;
  padding: 3px;
  font-size: 1vw
}
.input-forms {
  height: 17px;
  margin-bottom: 3px;
  padding: 3px;
}

.button-forms-editar {
  margin-top: 5px;
  width: 25%;
  padding: 0.5%;
  margin-bottom: 15px;
  font-size: 135%;
  display: flex;
  justify-content: space-around;
}

.button-forms-agregar {
  margin-top: 5px;
  width: 40%;
  padding: 0.5%;
  margin-bottom: 15px;
  font-size: 135%;
}

.button-forms-login {
  margin-top: 5px;
  width: 40%;
  padding: 3px;
  margin-bottom: 15px;
  font-size: 10px;
}

.button-forms-register {
  display: flex;
  margin-top: 10px;
  width:100%; 
  padding: 3px;
  margin-bottom: 15px;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  
}

.linksDiv-forms {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link-forms {
  font-size: 9px;
  color: white;
}
.border-producto {
  border-top: 2px solid #bea86c;
  margin-top: 20px;
  width:100vw;
}
footer.contactanos i {
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
}
footer {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  text-align: center;
  color:#bea86c;
  margin-top: 20px;
  width:100%;
}

footer p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}
footer i {
  font-size: 2em;
  margin-bottom: 10px;
}
.quienes-somos {
  width: 120px;
  height: 150px;
  margin-top: 20px;
}
.contactanos {
  width: 120px;
  height: 150px;
  margin-top: 20px;
}
footer h2{
  margin-bottom: 10px;
}
.newsletter {
  width: 120px;
  height: 150px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .img-logo {
    width: 25vw;
  }
  .mainTitle-page {
    font-size: 30px;
  }

  .label-forms {
    font-size: 20px;
  }

  .input-forms {
    height: 34px;
    margin-top: 4px;
  }

  .button-forms-login {
    font-size: 15px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .button-forms-register {
    display: flex;
    margin-top: 10px;
    width:100%; 
    padding: 3px;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    
  }

 /* 
 --Corregido para mas de 768--
  .button-forms-register {
    font-size: 15px;
    width: 15%;
    margin-bottom: 10px;
  }
  */

  .link-forms {
    font-size: 18px;
  }

  .div-forms {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  div.barra-lupa {
    margin-top: 0px;
  }

.quienes-somos{
  width:300px;
  height: 150px;
  padding-left: 20px;
}
.contactanos{
  width:300px;
  height:150px;
}

.newsletter{
  width:300px;
  height:150px;
}
}