<footer class="border-producto">
        <article>
            <div class="quienes-somos">
                <h2> Sobre Nosotros</h2>
                <p>Somos Martech </p>
                <p>Estamos en XXX</p>
                <p>Fundados en 2022</p>
                <p>¡Elígenos!</p>
            </div> 
        </article>
        
        <article>
            <div class="contactanos">
                <h2> ¡Hablemos!</h2>
                <i class="fa-solid fa-phone"> </i>
                <i class="fa-solid fa-comments"></i>
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-instagram"></i>
            </div> 
        </article>

        <article>
            <div class="newsletter">
                <h2>No te los pierdas</h2>
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>Suscribite a nuestro newsletter</p>
                <p>¡Serás el primer@ en enterarte!</p>
            </div> 
        </article>
    </footer>