<header>
    <div class="top-header">
        <div class="iconos-header2">
            <i class="fa-brands fa-whatsapp"></i> <p>+ (xx) xxx- xxx</p>
            <i class="fa-solid fa-comments"></i> <p> Contáctanos</p>
        </div>
        <div class="logo-principal">
        <a href="/"><img src="../images/Logo-Martech-inv.png" width="180vw" height="150vh"/></a> 
        <div class="Segundazos">
            <p>Segundazos de primera</p>
        </div>
        </div>
        <nav>
            <div class="iconos-header">
                <div class="solo-iconos">
                <a href="login"><i class="fa-solid fa-star"></i> <p> Favoritos</p></a>
                <a href="login"><i class="fa-solid fa-user"></i> <p> Ingresar</p></a>
                <a href="register"><i class="fas fa-pencil"></i> <p> Registrarme</p></a>
                <a href="carrito"><i class="fa-solid fa-cart-shopping"></i><p> Carrito</p></a>
                </div>
                <div class="barra-lupa">
                <div class="barra-busqueda"> <input type="search"> </div>
                <div class="submit"><i class="fa fa-search"></i></div>
                <a href="agregar"> <div class="agregar-editar"><i class="fa-solid fa-wand-magic-sparkles"></i><p>Agregar Producto</p> </a></div>
                </div>
            </div>
        </div>
        </nav>
    </div> 
</header>