<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
    <main>
        <section>
            <article>
            
                <div class="breakpoint">
                    <div class="centrar-producto">
                        <img src="./images/iphone-frente.png" class= "zoom" alt="Celular frente">
                     </div>
                    <div class="centrar-producto">
                         <img src="./images/iphone-costado.png"  class= "zoom" alt="Celular de costado">
                         <img src="./images/iphone-atras.png" class= "zoom" alt="Celular parte de atras">
                    </div>
                <div>
                    <img src="./images/Hotsale.png" class="hotsale">
                </div>
                    <div class="main-article-producto">
                        <h3> iPhone XS Max </h3>
                         <ul>
                        <li>Empresa:Liberado </li>
                        <li>En stock</li>
                        <li>Condición:Muy bueno</li>
                        <p>Luce y funciona como nuevo. No tiene detalles de uso. Ni marcas en los bordes, ni en la pantalla, ni en la parte de atrás.</p>
                        <li>Color: Gris espacial</li>
                        <img src="./images/Gris_espacial.png" alt="color del celular">
                         </ul>
                    </div>
                </div>
                    <div class="precio-DP">
                        <p>Precio en un pago</p>
                        <h3>$152.642</h3>
                        <p>6 cuotas de $25.440 sin interes</p>  
                    </div>
                

                    <div class="centrar-buttons">
                        <form action="/Detalle_de_producto" method="POST" style="display:inline">
                            <button class= carrito-producto type="submit">Agregar al carrito <i class="fa-solid fa-cart-plus"></i></button>
                        </form>
                        <form action="/Detalle_de_producto" method="POST" style="display:inline">
                            <button class= comprar-button-producto type="submit">Comprar </button>
                        </form>
                    </div>
                
                <div class="iconos-producto">
                    <i class="fa-solid fa-truck"></i>
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="detalles-producto">
                    <p>Envío gratis a todo el país</p>
                    <p>90 días de garantía</p>
                </div>

                <div class="caracteristicas-producto">
                    <h3 class="margin-caracteristicas">Características</h3>
                    <p>El Apple iPhone XS Max es el iPhone más grande que se haya lanzado a la fecha, con una pantalla Super Retina OLED de 6.5 pulgadas. Compartiendo el resto de sus características con el iPhone XS, encontramos un procesador A12 Bionic con 64GB, 256GB o 512GB de almacenamiento, cámara dual de 12 MP con zoom óptico y estabilización óptica de imagen, parlantes stereo, resistencia al agua IP68, desbloqueo por rostro Face ID y corre iOS 12.</p>
                </div>
                <div class="lista-caracteristicas-producto">
                    <p><i class="fa-solid fa-mobile-screen"></i> Tamaño de pantalla:6.5"</p>
                    <p><i class="fa-solid fa-camera-retro"></i>Cámara principal:12 Mpx</p>
                    <p><i class="fa-solid fa-maximize"></i>Dimensiones Perfil: 7.7 mm</p>
                    <p><i class="fa-solid fa-sim-card"></i>Dual SIM:No</p>
                
                </div>
                <div class="lista-caracteristicas-producto" >
                        <p><i class="fa-solid fa-microchip"></i>Memoria RAM:4 GB</p>
                        <p><i class="fa-solid fa-mobile-screen-button"></i>Sistema Operativo:IOS 11</p>
                        <p><i class="fa-solid fa-satellite-dish"></i>Señal:4G</p>
                        <p ><i class="fa-solid fa-server"></i>Memoria Interna:64GB</p>
                </div>
              </article>
             
        </section> 
    </main>

    <%- include('./partials/footer') %>
</body>

</html>