<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> <%- include('./partials/header') %>
  <link rel="stylesheet" href="/css/styles_login_register.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <body>
     <main>
        <div class="caja-page-principal">
            <form class="page-forms" action="/products?_method=PUT" method="POST" >

            <h4 class="mainTitle-page">Edita tu producto</h4>
            <div class="div-forms-principal">
                <div class="div-forms">
                <label class="label-forms" for="nombreProducto">Nombre del Producto</label>
                <input class="input-forms" id="nombreProducto"  placeholder="Ej: IPhone 13" type="text" name="nombreProducto" />
             </div>

              <div class="div-forms">
                <label class="label-forms" for="precioVenta">Precio de venta</label>
                <input class="input-forms" id="precioVenta"  placeholder="Ej:3000"type="text" name="precioVenta" />
            </div>

             <div class="div-forms">
                <label class="label-forms" for="estadoEquipo">Estado del Equipo</label>
                <input class="input-forms"id="estadoEquipo" placeholder="Ej: Excelente" type="text" name="estadoEquipo" />
            </div>

              <div class="div-forms">
                <label class="label-forms" for="marca">Marca</label>
                <input class="input-forms" id="marca"  type="text" placeholder="Ej: Apple" name="marca" />
             </div>

            <div class="div-forms">
                <label class="label-forms" for="memoriaRam">Memoria Ram</label>
                <input class="input-forms" id="memoriaRam" placeholder="Ej: 14" type="text" name="memoriaRam" />
            </div>
             
            <div class="button-forms-register">
            <button class="button-forms-agregar" type="submit">
           Confirmar
          </button>
          </div>
        </form>
      </div>
    </main>
  </body>
  <%- include('./partials/footer') %>
</html>
