<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <%- include('./partials/header') %>
<body>
    <main>
        <nav>
            
            <div class="marcas-elegibles">
                <article>
                    <a href="#samsung"> <img src="./images/motorola-mini.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#motorola"><img src="./images/samsung-mini.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#apple"><img src="./images/iphone-mini.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#xiaomi"><img src="./images/tesla-mini.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#huawei"><img src="./images/huawei-mini.png" width="150" height="30"></a>
                </article>
            </div>
        </nav>
        <nav>
            
            <div class="marcas-elegibles2">
                <article>
                    <a href="#samsung"> <img src="./images/motorola-tb.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#motorola"><img src="./images/samsung-tb.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#apple"><img src="./images/iphone-tb.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#xiaomi"><img src="./images/tesla-tb.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#huawei"><img src="./images/huawei-tb.png" width="150" height="30"></a>
                </article>
            </div>
        </nav>
        <nav>
        <article>
            <div class="container">
                <img src="./images/samsung-banner.jpg">
            </div> 
        </article>
        
        </nav>

        <div class="modelos-premium">
            <article>
                <h3>NUESTROS PREMIUM</h3>
                <div class="product" id="product_1">
                    <img src="./images/iphone-frente2.png" width="150" height="150" />
                    <h4>Premium N° 1</h4>
                    <p>1.000 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_2">
                    <img src="./images/SamsungS22Negro.png" width="100" height="100" />
                    <h4>Premium N° 2</h4>
                    <p>900 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_3">
                    <img src="./images/SamsungS22Negro.png" width="100" height="100" />
                    <h4>Premium N° 3</h4>
                    <p>1.050 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_4">
                    <img src="./images/SamsungS22Negro.png" width="100" height="100" />
                    <h4>Premium N° 4</h4>
                    <p>820 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_5">
                    <img src="./images/SamsungS22Negro.png" width="100" height="100" />
                    <h4>Premium N° 5</h4>
                    <p>780 USD</p>
                </div>
            </article>
        </div>

        <div class="mas-vendidos">
            <article>
            <h3> MAS VENDIDOS</h3>
                <div class="product" id="product_6">
                    <img src="./images/iphone-frente2.png" width="150" height="150" />
                    <h4>Vendido N° 1</h4>
                    <p>500 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_7">
                    <img src="./images/motog200.png" width="100" height="100" />
                    <h4>Vendido N° 2</h4>
                    <p>950 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_8">
                    <img src="./images/motog200.png" width="100" height="100" />
                    <h4>Vendido N° 3</h4>
                    <p>650 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_9">
                    <img src="./images/motog200.png" width="100" height="100" />
                    <h4>Vendido N° 4</h4>
                    <p>1.000 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_10">
                    <img src="./images/motog200.png" width="100" height="100" />
                    <h4>Vendido N° 5</h4>
                    <p>660 USD</p>
                </div>
            </article>
        </div>
    
    </main>

<%- include('./partials/footer') %>

</body>
</html>