<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="css/styles_login_register.css">
  <%- include('./partials/head') %>
  <%- include('./partials/header') %>
    <main>
      <div class="caja-page-principal">
        <form class="page-forms" action="/login" method="POST">
          <h4 class="mainTitle-page">¡Crea a tu cuenta!</h4>
          <div class="div-forms-principal">
            <div class="div-forms">
              <label class="label-forms" for="email">Email</label>
              <input class="input-forms" type="text" name="email" />
            </div>
            <div class="div-forms">
              <label class="label-forms" for="contraseña"
                >Ingresa una contraseña</label
              >
              <input class="input-forms" type="password" name="contraseña" />
            </div>
            <div class="div-forms">
              <label class="label-forms" for="contraseña"
                >Repite tu contraseña</label
              >
              <input class="input-forms" type="password" name="contraseña" />
            </div>
          </div>
          <div class="div-terminos-condiciones">
          <input type= "checkbox" name = "terminos">
          <label class="checkbox" for="terminos"> Acepto los términos y condiciones. </label>
          
          </div>
          <button class="button-forms-register" type="submit">
            Crear cuenta
          </button>
          <a class= "link-login-register" href= "./login.ejs">  ¿Ya tienes cuenta? </a>
        </form>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
