<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="mensaje">Contáctanos a través de Whatsapp</div>
        <div class="telefono">Llámanos al +00 000000</div>
        <div> <img src= './images/logo-letras.PNG' alt="Logo de Martech" class="logo"> </div>
        <div class="barra-busqueda"> <input type="search"> </div>
        <div class="lupa" ><a href='#'><i class="fa-solid fa-magnifying-glass"></i></a></div>
    </header>

    <nav>
        <ul>
            <li> <a href="#"> Carrito </a></li>
            <li><a href="#">Guardado para después</a></li>
        </ul>
    </nav>

    <section class="productos">
        <article class="item-carrito">
            <img src="" alt="imagen del item" class="img-item">
            <h4>
                <div>Decripción del producto:</div>
                <div>Marca:</div>
                <div>Modelo:</div>
                <div>Estado funcional:</div>
                <div>Estado físico:</div>
            </h4>
        </article>

        <article class="item-carrito">
            <img src="" alt="imagen del item" class="img-item">
            <h4>
                <div>Decripción del producto:</div>
                <div>Marca:</div>
                <div>Modelo:</div>
                <div>Estado funcional:</div>
                <div>Estado físico:</div>
            </h4>
        </article>

    </section>

    <section class="cuenta">
        <article class="rubros">
            <h5>SubTotal:</h5>
            <h5>Descuentos:</h5>
            <h5>Impuestos:</h5>
            <h5>Total:</h5>
        </article>
        <article class="boton-pago">
            <button type="button">Pagar</button>
        </article>
    </section>
</body>