<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="mensaje" ><i class="fa-brands fa-whatsapp"></i>Contáctanos a través de Whatsapp</div>
        <div class="telefono"><i class="fa-solid fa-phone"></i>Llámanos al +00 000000</div>
        <div> <img src= './images/logo-letras.PNG' alt="Logo de Martech" class="logo"> </div>
        <div class="barra-busqueda"> <input type="search"> </div>
        <div class="lupa" ><a href='#'><i class="fa-solid fa-magnifying-glass"></i></a></div>
    </header>

    <nav>
        <ul>
            <li> <a href="#"> Carrito </a></li>
            <li><a href="#">Guardado para después</a></li>
        </ul>
    </nav>

    <section class="productos">
        <article class="item-carrito">
            <div class="carrito-izquierda">
            <img src="./images/iphonexr-usado.PNG" alt="imagen del item" class="img-item">
            
            </div>
            
            <div class="carrito-derecha">
            <h4>
                <div>Marca: APPLE </div>
                <div>Modelo: IPHONE XR 128GB</div>
                <div>Estado: 9/10</div>
            </h4>
            <h4 class="carrito-precio"><i class="fa-solid fa-dollar-sign"></i>300</h4>
            
            </div>

        </article>
        <button class="boton-retirar">Retirar del Carrito</button>
        <article class="item-carrito">
            <div class="carrito-izquierda">
            <img src="./images/tesla-usado.jpg" alt="imagen del item" class="img-item">
            
            </div>
            
            <div class="carrito-derecha">
            <h4>
                <div>Marca: TESLA</div>
                <div>Modelo: TESLA MODEL PI</div>
                <div>Estado: 10/10</div>
            </h4>
            <h4 class="carrito-precio"><i class="fa-solid fa-dollar-sign"></i>1,000</h4>
            
            </div>
        </article>
        <button class="boton-retirar">Retirar del Carrito</button>
    </section>

    <section class="cuenta">
        <article class="rubros">
            <h5>SubTotal:<i class="fa-solid fa-dollar-sign"></i>1,300</h5>
            <h5>Descuentos: 10%</h5>
            <h5>Impuestos:10%</h5>
            <h5>Total:<i class="fa-solid fa-dollar-sign"></i>1.300</h5>
        </article>
        <article class="boton-pago">
            <button type="button">Pagar</button>
        </article>
    </section>

    <footer>
        <article>
            <div class="quienes-somos">
                <h4> Sobre Nosotros</h4>
                <p>Somos Martech SA</p>
                <p>estamos en XXX</p>
                <p>fundados en 2022</p>
                <p>¡elígenos!</p>
            </div> 
        </article>
        <article>
            <div class="contactanos">
                <h4> ¡Hablemos!</h4>
                <i class="fa-solid fa-phone"> </i>
                <i class="fa-solid fa-comments"></i>
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-instagram"></i>
            </div> 
        </article>
        <article>
            <div class="newsletter">
                <h4>No te los pierdas</h4>
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>Suscribite a nuestro newsletter</p>
                <p>¡serás el primer@ en enterarte!</p>
            </div> 
        </article>
    </footer>
</body>