<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="./images/Logo-Martech-Barra.jpg" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/09016572b7.js" crossorigin="anonymous"></script>  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/acd9d6cd1d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Detalle de producto</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="iconos-header2">
                <i class="fa-brands fa-whatsapp"></i> <p>+ (xx) xxx- xxx</p>
                <i class="fa-solid fa-comments"></i> <p> Contáctanos</p>
            </div>
            <div class="logo-principal">
            <a href="/"><img src="./images/Logo-Martech-inv.png" width="150vw" height="150vh"/></a> 
            <div class="Segundazos">
                <p>Segundazos de primera</p>
            </div>
            </div>
            <nav>
                <div class="iconos-header">
                    <div class="solo-iconos">
                    <a class= "iconos" href="favoritos"><i class="fa-solid fa-star"></i> <p> Favoritos</p></a>
                    <a href="login"><i class="fa-solid fa-user"></i> <p> Ingresar</p></a>
                    <a href="register"><i class="fas fa-pencil"></i> <p> Registrarme</p></a>
                    <a href="carrito"><i class="fa-solid fa-cart-shopping"></i><p> Carrito</p></a>
                    </div>
                    <div class="barra-lupa">
                    <div class="barra-busqueda"> <input type="search"> </div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                    </div>
                </div>
             </div>
            </nav>
        </div> 
    </header>
    <main>
        <section>
            <article>
            
                <div class="breakpoint">
                    <div class="centrar-producto">
                        <img src="./images/iphone-frente.png" class= "zoom" alt="Celular frente">
                     </div>
                    <div class="centrar-producto">
                         <img src="./images/iphone-costado.png"  class= "zoom" alt="Celular de costado">
                         <img src="./images/iphone-atras.png" class= "zoom" alt="Celular parte de atras">
                    </div>
                <div>
                    <img src="./images/Hotsale.png" class="hotsale">
                </div>
                    <div class="main-article-producto">
                        <h3> iPhone XS Max </h3>
                         <ul>
                        <li>Empresa:Liberado </li>
                        <li>En stock</li>
                        <li>Condición:Muy bueno</li>
                        <p>Luce y funciona como nuevo. No tiene detalles de uso. Ni marcas en los bordes, ni en la pantalla, ni en la parte de atrás.</p>
                        <li>Color: Gris espacial</li>
                        <img src="./images/Gris_espacial.png" alt="color del celular">
                         </ul>
                    </div>
                </div>
                    <div class="precio-DP">
                        <p>Precio en un pago</p>
                        <h3>$152.642</h3>
                        <p>6 cuotas de $25.440 sin interes</p>  
                    </div>
                

                    <div class="centrar-buttons">
                        <form action="/Detalle_de_producto" method="POST" style="display:inline">
                            <button class= carrito-producto type="submit">Agregar al carrito <i class="fa-solid fa-cart-plus"></i></button>
                        </form>
                        <form action="/Detalle_de_producto" method="POST" style="display:inline">
                            <button class= comprar-button-producto type="submit">Comprar </button>
                        </form>
                    </div>
                
                <div class="iconos-producto">
                    <i class="fa-solid fa-truck"></i>
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="detalles-producto">
                    <p>Envío gratis a todo el país</p>
                    <p>90 días de garantía</p>
                </div>

                <div class="caracteristicas-producto">
                    <h3 class="margin-caracteristicas">Características</h3>
                    <p>El Apple iPhone XS Max es el iPhone más grande que se haya lanzado a la fecha, con una pantalla Super Retina OLED de 6.5 pulgadas. Compartiendo el resto de sus características con el iPhone XS, encontramos un procesador A12 Bionic con 64GB, 256GB o 512GB de almacenamiento, cámara dual de 12 MP con zoom óptico y estabilización óptica de imagen, parlantes stereo, resistencia al agua IP68, desbloqueo por rostro Face ID y corre iOS 12.</p>
                </div>
                <div class="lista-caracteristicas-producto">
                    <p><i class="fa-solid fa-mobile-screen"></i> Tamaño de pantalla:6.5"</p>
                    <p><i class="fa-solid fa-camera-retro"></i>Cámara principal:12 Mpx</p>
                    <p><i class="fa-solid fa-maximize"></i>Dimensiones Perfil: 7.7 mm</p>
                    <p><i class="fa-solid fa-sim-card"></i>Dual SIM:No</p>
                
                </div>
                <div class="lista-caracteristicas-producto" >
                        <p><i class="fa-solid fa-microchip"></i>Memoria RAM:4 GB</p>
                        <p><i class="fa-solid fa-mobile-screen-button"></i>Sistema Operativo:IOS 11</p>
                        <p><i class="fa-solid fa-satellite-dish"></i>Señal:4G</p>
                        <p ><i class="fa-solid fa-server"></i>Memoria Interna:64GB</p>
                </div>
              </article>
        </section>
    </main>
    <footer class="border-producto">
        <div class="quienes-somos">
            <h4> Sobre Nosotros</h4>
            <p>Somos Martech </p>
            <p>estamos en XXX</p>
            <p>fundados en 2022</p>
            <p>¡Elígenos!</p>
        </div> 
    </article>
    <article>
        <div class="contactanos">
            <h4> ¡Hablemos!</h4>
            <i class="fa-solid fa-phone"> </i>
            <i class="fa-solid fa-comments"></i>
            <i class="fa-brands fa-facebook"></i> 
            <i class="fa-brands fa-instagram"></i>
        </div> 
    </article>
    <article>
        <div class="newsletter">
            <h4>No te los pierdas</h4>
            <i class="fa-solid fa-envelope-open-text"></i>
            <p>Suscribite a nuestro newsletter</p>
            <p>¡serás el primer@ en enterarte!</p>
        </div> 
        </article>
    </footer>
</body>
</html>