<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="./images/Logo-Martech-Barra.jpg" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/09016572b7.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Bienvenidos a Martech</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="iconos-header2">
                <i class="fa-brands fa-whatsapp"></i> <p>+ (xx) xxx- xxx</p>
                <i class="fa-solid fa-comments"></i> <p> Contáctanos</p>
            </div>
            <div class="logo-principal">
            <a href="/"><img src="./images/Logo-Martech-inv.png" width="150vw" height="150vh"/></a> 
            <div class="Segundazos">
                <p>Segundazos de primera</p>
            </div>
            </div>
            <nav>
                <div class="iconos-header">
                    <div class="solo-iconos">
                    <a class= "iconos" href="favoritos"><i class="fa-solid fa-star"></i> <p> Favoritos</p></a>
                    <a href="login"><i class="fa-solid fa-user"></i> <p> Ingresar</p></a>
                    <a href="register"><i class="fas fa-pencil"></i> <p> Registrarme</p></a>
                    <a href="carrito"><i class="fa-solid fa-cart-shopping"></i><p> Carrito</p></a>
                    </div>
                    <div class="barra-lupa">
                    <div class="barra-busqueda"> <input type="search"> </div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                    </div>
                </div>
        </div>
            </nav>
        </div> 
    </header>
    <main>
        <nav>
            
            <div class="marcas-elegibles">
                <article>
                    <a href="#samsung"> <img src="./images/motorola-mini.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#motorola"><img src="./images/samsung-mini.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#apple"><img src="./images/iphone-mini.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#xiaomi"><img src="./images/tesla-mini.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#huawei"><img src="./images/huawei-mini.png" width="150" height="30"></a>
                </article>
            </div>
        </nav>
        <nav>
            
            <div class="marcas-elegibles2">
                <article>
                    <a href="#samsung"> <img src="./images/motorola-tb.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#motorola"><img src="./images/samsung-tb.png" width="150" height="30"></a>
                </article>
                <article>
                    <a href="#apple"><img src="./images/iphone-tb.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#xiaomi"><img src="./images/tesla-tb.png" width="150" height="30"></a>
                    </article>
                <article>
                    <a href="#huawei"><img src="./images/huawei-tb.png" width="150" height="30"></a>
                </article>
            </div>
        </nav>
        <nav>
        <article>
            <div class="container">
                <img src="./images/samsung-banner.jpg">
            </div> 
        </article>
        
        </nav>

        <div class="modelos-premium">
            <article>
                <h3>NUESTROS PREMIUM</h3>
                <div class="product" id="product_1">
                    <img src="./images/iphone-frente2.png" width="150" height="150" />
                    <h4>Premium N° 1</h4>
                    <p>1.000 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_2">
                    <img src="./images/Samsung-s22.png" width="100" height="100" />
                    <h4>Premium N° 2</h4>
                    <p>900 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_3">
                    <img src="./images/modelo-premium.jpg" width="100" height="100" />
                    <h4>Premium N° 3</h4>
                    <p>1.050 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_4">
                    <img src="./images/modelo-premium.jpg" width="100" height="100" />
                    <h4>Premium N° 4</h4>
                    <p>820 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_5">
                    <img src="./images/modelo-premium.jpg" width="100" height="100" />
                    <h4>Premium N° 5</h4>
                    <p>780 USD</p>
                </div>
            </article>
        </div>

        <div class="mas-vendidos">
            <article>
            <h3> MAS VENDIDOS</h3>
                <div class="product" id="product_6">
                    <img src="./images/iphone-frente2.png" width="150" height="150" />
                    <h4>Vendido N° 1</h4>
                    <p>500 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_7">
                    <img src="./images/hot-sale.jpg" width="100" height="100" />
                    <h4>Vendido N° 2</h4>
                    <p>950 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_8">
                    <img src="./images/hot-sale.jpg" width="100" height="100" />
                    <h4>Vendido N° 3</h4>
                    <p>650 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_9">
                    <img src="./images/hot-sale.jpg" width="100" height="100" />
                    <h4>Vendido N° 4</h4>
                    <p>1.000 USD</p>
                </div>
            </article>
            <article>
                <div class="product" id="product_10">
                    <img src="./images/hot-sale.jpg" width="100" height="100" />
                    <h4>Vendido N° 5</h4>
                    <p>660 USD</p>
                </div>
            </article>
        </div>

        <div class="banner-funcionamiento">
        <img src="./images/funcionamiento.jpg" width="100%" height="100px">
        </div>
    
    </main>

    <footer>
        <article>
            <div class="quienes-somos">
                <h4> Sobre Nosotros</h4>
                <p>Somos Martech</p>
                <p>estamos en XXX</p>
                <p>Fundados en 2022</p>
                <p>¡Elígenos!</p>
            </div> 
        </article>
        <article>
            <div class="contactanos">
                <h4> ¡Hablemos!</h4>
                <i class="fa-solid fa-phone"> </i>
                <i class="fa-solid fa-comments"></i>
                <br>
                <i class="fa-brands fa-facebook"></i> 
                <i class="fa-brands fa-instagram"></i>
            </div> 
        </article>
        <article>
            <div class="newsletter">
                <h4>No te los pierdas</h4>
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>Suscribite a nuestro newsletter</p>
                <p>¡serás el primer@ en enterarte!</p>
            </div> 
        </article>
    </footer>
</body>
</html>