<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <img src="./images/Logo-Martech.jpg" />
      <div>
        <h1>¡Ingresa a tu cuenta!</h1>
        <p>Email</p>
        <p>Contraseña</p>
        <button type="button">Ingresar</button>
        <p>Olvide mi contraseña</p>
        <p>Crear Cuenta</p>
      </div>
      <footer>
        <p>Sobre Martech</p>
        <p>Contacto</p>
        <p>Suscribete al newsletter</p>
      </footer>
    </main>
  </body>
</html>
