<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="./images/Logo-Martech-Barra.jpg" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/09016572b7.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Bienvenidos a Martech</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  </head>
  <body>
    <header></header>
    <main>
      <div class="caja-page-principal">
        <img class="img-logo" src="./images/Logo-Martech.jpg" />
        <form class="page-forms" action="/login" method="POST">
          <h4 class="mainTitle-page">¡Ingresa a tu cuenta!</h4>
          <div class="div-forms-principal">
            <div class="div-forms">
              <label class="label-forms" for="email">Email</label>
              <input class="input-forms" type="text" name="email" />
            </div>
            <div class="div-forms">
              <label class="label-forms" for="contraseña">Contraseña</label>
              <input class="input-forms" type="password" name="contraseña" />
            </div>
          </div>
          <button class="button-forms-login" type="submit">Ingresar</button>
          <div class="linksDiv-forms">
            <a class="link-forms" href="#">Olvide mi contraseña </a>
            <a class="link-forms" href="/register">Crear cuenta</a>
          </div>
        </form>
      </div>
<footer>
  <article>
          <div class="quienes-somos">
              <h4> Sobre Nosotros</h4>
              <p>Somos Martech</p>
              <p>estamos en XXX</p>
              <p>fundados en 2022</p>
              <p>¡elígenos!</p>
          </div> 
  </article>
  <article>
    <div class="contactanos">
              <h4> ¡Hablemos!</h4>
              <i class="fa-solid fa-phone"> </i>
              <i class="fa-solid fa-comments"></i>
              <i class="fa-brands fa-facebook"></i> 
              <i class="fa-brands fa-instagram"></i>
    </div> 
  </article>
  <article>
    <div class="newsletter">
              <h4>No te los pierdas</h4>
              <i class="fa-solid fa-envelope-open-text"></i>
              <p>Suscribite a nuestro newsletter</p>
              <p>¡serás el primer@ en enterarte!</p>
    </div> 
  </article>
</footer>
    </main>
  </body>
</html>
